<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meguie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icone_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meguie">
        <activity
            android:name=".erro"
            android:exported="true" />
        <activity
            android:name=".concluido"
            android:exported="true" />
        <activity
            android:name=".guias"
            android:exported="true" />
        <activity
            android:name=".roteiro"
            android:exported="true" />
        <activity
            android:name=".pesqcidade"
            android:exported="true" />
        <activity
            android:name=".cadastro"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>